@import "../../styles/index";

.title {
  font-weight: 700;
  color: #000000;

  &__wrapper {
    padding: 35px;
    padding: calc(10px + 25 * (100vw / 1200));
  }
}

.subtitle {
  color: #000000;
  font-weight: 500;
}

.right-part {
  height: 60%;
  margin-right: calc(10px + 40 * (100vw / 1200));
  @media (max-width: $md2+px) {
    height: 66%;
  }
}

.tag {
  right: 0;
  bottom: 0;
  position: absolute;
  // width: fit-content;
  &__icon {
    font-size: calc(45px + 95 * (100vw / 1200));
  }
}
