html,
body {
  width: 100%;
  background-color: var(--background);
  transition: background-color 400ms linear;
  font-family: $ff-baze;
  color: var(--text);
  font-size: $fz-baze;
}

::selection {
  color: var(--text);
  background: #00bcd4;
}

h1 {
  font-weight: bold;
  font-size: calc(35px + 10 * (100vw / 1440));
}

h2 {
  font-size: calc(25px + 10 * (100vw / 1440));
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, grey);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ff6b08);
}
