// colors
// $c-hover: #0178bf;
// $c-background: #000000;
// $c-text: #ffffff;
// dark theme

html[data-theme='dark'] {
  background: var(--background);
  --hover: #0178bf;
  --background: #000000;
  --text: #ffffff;
  --shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

// light theme

html[data-theme='light'] {
  background: var(--background);
  --hover: #000000;
  --background: #ffffff;
  --text: #0178bf;
  --shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

// $gradient: linear-gradient(to right, #ff00cc, #333399);
// $mainColor: #00bcd4;

// fonts

$ff-baze: 'Caveat', cursive;
$fz-baze: 16px;

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1270px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
